# Python
backend/.venv/
__pycache__/
*.pyc
*.pyo

# Environment
.env

# Credentials — add this entire block
credentials/
*.json 


# Node
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/


# images
backend/processed
backend/uploads

docs/mcl_ui_prompt.md